* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(50deg, rgb(155, 126, 90), rgb(15, 14, 1));
    min-height: 100vh; /    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden; /* Prevents horizontal overflow */
}

.aboutUs  {
    font-size: 50px;
    font-family: comic;
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line if necessary */
    justify-content: center; /* Horizontally center items */
    align-items: center;
    max-width: 800px;
    margin-top: 50px;
    color:white;
}

.contactUs{
    
    font-family: comic;
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line if necessary */
    justify-content: center; /* Horizontally center items */
    align-items: center;
    max-width: 800px;
    margin-top: 50px;
}


.Names {
    flex: 1; /* Allow items to grow and fill available space */
    border: 1px solid rgb(97, 59, 59);
    padding: 20px;
    margin: 10px; /* Add margin between items */
    width: 30%; /* Set width for each item */
    max-width: calc(30% - 20px); /* Set maximum width for each item to prevent overflow */
}

.Contact{
    flex: 1; /* Allow items to grow and fill available space */
    border: 1px solid rgb(97, 59, 59);
    padding: 20px;
    margin: 10px;
    width: 30%; 
    max-width: calc(50% - 70px); /* Set maximum width for each item to prevent overflow */
}

.namesContainer {
    padding: 50px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(92, 44, 44, 0.1);
    background: linear-gradient(50deg, rgb(155, 126, 90), rgb(15, 14, 1));
    margin:20px;
}
.ContactInfo{
    padding:50px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(92, 44, 44, 0.1);
    background: linear-gradient(50deg, rgb(155, 126, 90), rgb(15, 14, 1));
   font-size:20px;
}


.contactUs {
    margin-top: 70px; /* To Adjust spacing between sections */
}

/* Styling for the home button */
.Btnhome {
    margin-top: 20px;
    text-align: right;
}

.Btnhome button {
    font-size: 1em;
    cursor: pointer;
    color:white;
    background-color: rgb(73, 52, 27);
    border-radius: 10px;
    padding: 5px 10px;
}

.Btnhome button:hover {
    background-color: rgba(146, 87, 87, 0.493);
    margin-left: auto;
}


/* media query per screen*/

@media screen and (max-width: 576px) {
    .Contact{
        max-width:100px;
        padding:8px;
        border:10px;
        
    }


    .contactUs{
        
        font-size:10px;
            max-width:100%;
            padding:20px;
    }
    .ContactInfo{
       
        width:100%;
        padding:3px;
    }
    
    .Btnhome{
        font-size:35px;
      }
      h2{
        font-size:large;
    }
    

    
    .Btnhome{
        font-size:45px;
      }
}

@media screen and (max-width: 414px){
    .Contact{
        max-width:100px;
        padding:15px;
        border:10px;
        
    }


    .contactUs{
        
        font-size:10px;
            max-width:100%;
            padding:20px;
    }
    .ContactInfo{
       
        width:100%;
        padding:1px;
    }
    
    .Btnhome{
        font-size:35px;
      }
      h2{
        font-size:large;
    }
    }

    @media screen and (max-width: 320px) {
    
    
        .contactUs{
            font-size:10px;
            max-width:100%;
            padding:10px;
        }
        h2{
            font-size:large;
        }
    .Contact{
        max-width:800px;
        padding:15px;
        border:10px;
        
    }

    .ContactInfo{
       
        width:100%;
        padding:10px;
    }

  .Btnhome{
    font-size:20px;
  }
}