* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(50deg, rgb(155, 126, 90), rgb(15, 14, 1));
    min-height: 100vh; /* Use min-height to ensure the body covers the viewport height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden; /* Prevent horizontal overflow */
}

.aboutUs  {
    font-size: 50px;
    font-family: comic;
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line if necessary */
    justify-content: center; /* Horizontally center items */
    align-items: center;
    max-width: 800px;
    margin-top: 50px;
}

.contactUs{
    
    font-family: comic;
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line if necessary */
    justify-content: center; /* Horizontally center items */
    align-items: center;
    max-width: 800px;
    margin-top: 50px;
}

.Names {
    flex: 1; /* Allow items to grow and fill available space */
    border: 1px solid rgb(97, 59, 59);
    padding: 20px;
    margin: 10px; /* Add margin between items */
    width: 30%; /* Set width for each item */
    max-width: calc(30% - 20px); /* Set maximum width for each item to prevent overflow */
}



