*{
    margin:0;
    padding:0;
}

h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 4em;

}

main{
    background-color:radial-gradient(ellipse at center, rgba(255,254,234,1) 0%, rgba(255,254,234,1) 35%, #B7E8EB 100%);
    
    overflow: hidden;
  
}