*{
    margin:0;
    padding:0;
}

h3{
    font-family:inherit;
    font-size: 4em;
    

}

body{
    background-color:bisque;
    background-image:url("../images/balance-110850_1280.jpg");
    background-size:cover;
}

#quote{
    font-size:3em;
    font-family:comic;
    text-align:center;
  margin-top:10%;
  color:white;

}

#exploreBtn{
    text-align:center;
    font-size:2em;
    font-family:comic;
    bottom:30px;
    right:30%;
    padding:10px 30px;
    color:rgb(126, 102, 102);
    background: linear-gradient(50deg, rgb(204, 168, 124) 100% , rgb(15, 14, 1) 100%);
    cursor:pointer;
    position:fixed;
    border-radius:10px
}