body {
    background-image: url(../images/sunset.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    line-height: 1.3;
    font-family: 'Caveat', 'Roboto';
    font-size: 22px;
}
  
header {
    position: fixed;
    left: 0;
    top: 0;
    width: 99%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: rgb(246, 209, 96);
    color: black;
}
  
h1 {
    font-size: 200%;
}

nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
    list-style-type: none;
    padding: 10px;
    margin: 10px;
}

nav a {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex; 
    justify-content: center;
    padding: 1%;
    background-color: rgb(246, 209, 96);
    color: black;
    font-weight: bold;
    border-bottom:0;
  }

  /* added style to search widget*/
  .ui-widget{
    margin-top:7%;
  }