/* Universal black text unless otherwise specified */
* {
    /* background-color: rgb(140, 213, 235); */
    color: black;
}

/* Body styling and image set to cover page */
body {
    background-image: url(../images/sunset.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    line-height: 1.3;
    font-family: 'Caveat', 'Roboto';
    font-size: 22px;
}

/* Header fixed to top of page and color set */
header {
    position: fixed; 
    left: 0;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: rgb(246, 209, 96);
}
  
h1 {
    font-size: 200%;
}

nav ul {
    display: flex; 
    /* justify-content: space-evenly;  */
    margin-right: 33px;
    min-width: 300px;
    list-style-type: none;
    padding: 10px;
    margin: 10px;
}

nav a {
    font-weight: bold; 
    text-decoration: none;
}

/* 20px of spacing between nnavigation list items */
nav li {
    margin-right: 20px;
}

main {
    display: flex;
    flex-wrap: wrap;
    padding: 15%;
    padding-left: 10%;
}

section {
    flex: 1 1 0;
    padding-right: 5%;
} 

h2 {
    margin: 4% 0;
    padding-top: 5%;
    display: flex;
    flex: 1 1 0;
}

p {
  margin: 2% 0;
  font-size: 110%;
}

label {
  border-radius: 18px;
}

#savedData {
    padding-top: 3%;
}

/* 'Save' button styling with cursor pointer and rounded corners*/
button {
    background-color: black;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    font-size: 1em;
    letter-spacing: 0.21px;
    line-height: 8px;
    max-width: 255px;
    padding: 15px 40px;
    text-align: left;
    transition-duration: 0.15s;
    transition-property: background-color;
    transition-timing-function: linear;
    margin: 0.2em;
    display: flex;
  }

/* Styling for saved message box */
.card {
    background-color: rgb(243, 183, 223);
    border: 2px solid #eceff1;
    border-radius: 8px;
    box-shadow: rgba(60, 64, 67, 2) 0 1px 2px 0,
      rgba(60, 64, 67, 0.15) 0 2px 4px 3px;
    margin: 30px 20px;
    padding: 30px;
    width: 30vw;
    height: 20vw;
    display: inline-block;
    justify-content: center;
}
  
.card::after {
    content: " ";
    display: block;
    clear: both;
}  

.positive-message {
    text-align: center;
    margin-top: -3px;
}

#msg {
    display: block;
    min-height: 100px;
    width: 100%;
    margin-top: 10px;
    background-color: whitesmoke;
}

/* Footer fixed to top of page and color set  */
footer {
    position: fixed; 
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1%;
    background-color: rgb(246, 209, 96);
    font-weight: bold;
    border-bottom:0;
}

/* Media query added to accomodate different screen sizes */
@media screen and (max-width: 992px) {
    header,
    main,
    button {
      flex-direction: column;
    }
  
    section {
      padding-right: 0;
      margin-top: 30%;
      width: 100%;
      text-align: center;
    }
}

@media screen and (max-width: 768px) {
    header,
    main,
    button {
      flex-direction: column;
    }
  
    section {
      padding-right: 0;
      margin-top: 30%;
      width: 100%;
      text-align: center;
    }
}

@media screen and (max-width: 576px) {
    header,
    main,
    button {
      flex-direction: column;
    }
  
    section {
      padding-right: 0;
      margin-top: 30%;
      width: 100%;
      text-align: center;
    }
}

@media screen and (min-width: 576px) {
    main{
    width: 500px;
    }
}

/* @media only screen and (max-width: 800px) {
    .card {
      width: 80vw;
    }
  }  */