* {
    box-sizing: border-box;
}

body {
    background-image: url('../images/_MG_1208.jpg');
    background-size: cover;
    font-family: 'Caveat', 'Roboto';
    font-size: 18.5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;

}

/* Header styling */
#subpages {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 1%;
    background-color: rgb(79, 210, 90);
    color: black;
    list-style-type: none;
    margin-right: 33px;
    min-width: 300px;
}

#heading {
    text-align: left;
    margin: 0;
    flex-grow: 1;
}

nav ul {
    display: flex; 
    justify-content: space-evenly;  
    list-style-type: none;
    padding: 0;
    /* margin: 0; */
}

nav a {
    color: black;
    font-weight: bold; 
    text-decoration: none;
    padding: 10px; /* Added padding  */
}


/* New styling of the subpages */
.quiz-container {
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(135,204,138,1) 0%, rgba(76,133,200,0.7467319691548495) 97%); 
    border-radius: 10px;
    box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.3);
    width: 700px;
    overflow: hidden;
    margin-top: 70px;
    line-height: 1.5;
    font-weight: bold;
}

.quiz-header {
    padding: 4rem;
}

h2 {
    padding: 1rem;
    text-align: center;
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
   font-size: 1.3rem;
   margin: 1rem 0; 
}

ul li label {
    cursor: pointer;
}

/* For the results */

#quiz p {
    text-align: center;
}

/* For the fetched API advice */

blockquote {
    text-align: center;
    font-size: 24px;
}

button {
    background-color: lightskyblue;
    color: #fff;
    border: none;
    display: block;
    width: 100%;
    cursor: pointer;
    font-size: 1.2rem;
    font-family: inherit;
    padding: 1.3rem;
    text-decoration: none;
}

button:hover {
    background-color: rgb(61, 137, 230);
}

button:focus {
    background-color:rgb(79, 210, 90);
}

#submit {
    font-size: 25px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1%;
    background-color: rgb(79, 210, 90);
    color: black;
    font-weight: bold;
    border-bottom:0;
    font-size: 22px;
}

@media screen and (max-width: 768px) {
    header,
    main {
      flex-direction: column;
    }
  
    section {
      padding-right: 0;
      margin-top: 30%;
      width: 100%;
      text-align: center;
    }
}